
# Access DB2 Warehouse on Cloud and explore the data with Python

This notebook shows how to access a DB2 data warehouse or DB2 database when using Python. The examples use a DB2 warehouse, but the instructions apply to both DB2 Warehouse and DB2.



## Table of contents

1. [Info](#Info)
1. [Create Version](#Version)
1. [Setup](#Setup) 
1. [Import the *ibmdbpy* Python library](#Import-the-ibmdbpy-Python-library)
1. [Insert the database connection credentials](#Insert-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Use dataframe to read and manipulate tables](#Use-dataframe-to-read-and-manipulate-tables)
1. [Use SQL](#Use-SQL)
1. [Explore the trafficking data](#Explore-the-trafficking-data)
1. [Close the database connection](#Close-the-database-connection)
1. [Share the notebook](#Share)
1. [Save to GitHub](#GitHub)
1. [Help](#Help)
1. [Summary](#Summary)

<a id="Info"></a>
## Info
Select the Info icon to display general information about the notebook. <br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/info-button.png" ><br>
You can change the notebook name or add a description here.   You can also flag that the notebook can run with your privileges (Trusted Notebook).   If you run all cells of the notebook it is also considered trusted.
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Info.PNG" >

<a id="Version"></a>
## Create Version 

Save a version of the notebook by selecting File > Save Version 
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/FileOptions.PNG" > or by selecting the Versions icon. <img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/versions-button.png" ><br>
You can have up to ten (10) versions of a notebook.   Notebook versions are saved in a FIFO manner.

<a id="Setup"></a>
## Setup

Before beginning you will need a *DB2 Warehouse on Cloud* instance. DB2 Warehouse is a fully managed cloud data warehouse, purpose-built for analytics. It offers massively parallel processing (MPP) scale and compatibility with a wide range of business intelligence (BI) tools.  

1. __RIGHT-CLICK__ [this link](https://github.com/jpatter/DSX/raw/master/Lab-1/data/Female-human-trafficking.csv) and select __Save Link As...__ to save the `Female-human-trafficking.csv` file to your desktop.
1. Download the [DB2 Warehouse setup instructions](https://github.com/jpatter/DSX/blob/master/Lab-1/DB2Warehouse_DSXPOT.pdf).  You need to download the PDF in order for the links to work.
1. Open up the PDF file that you've just downloaded in the previous step and follow the instructions there to setup DB2 Warehouse, load the human trafficking data and create a DSX data connection.

<a class="ibm-tooltip" href="https://console.ng.bluemix.net/catalog/services/dashdb" target="_blank" title="" id="ibm-tooltip-0">
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/DB2Warehouse.png" >
</a>

<a id="Import-the-ibmdbpy-Python-library"></a>
## Import the *ibmdbpy* Python library

Python support for DB Warehouse and DB2 is provided by the [ibmdbpy Python library](https://pypi.python.org/pypi/ibmdbpy). Connecting to DB2 Warehouse or DB2 is also enabled by a DB2 driver, libdb2.so.  The ibmdbpy project provides a Python interface for data manipulation and access to in-database algorithms in IBM DB2 Warehouse and IBM DB2. It accelerates Python analytics by seamlessly pushing operations written in Python into the underlying database for execution, thereby benefitting from in-database performance-enhancing features, such as columnar storage and parallel processing.

### Setup a *JDBC* connection
The JDBC Connection is based on a Java virtual machine. From the ibmdbpy library you can use JDBC to connect to a remote DB2 Warehouse/DB2 instance. To be able to use JDBC to connect, we need to import the *JayDeBeApi* package and we need to add the DB2 Warehouse/DB2 data connector jar file to the java class path.

To run a cell, click on the cell and click the run button in the toolbar or press __SHIFT-ENTER__.

Run the following commands to install and load the `JayDeBeApi` package and the `ibmdbpy` library into your notebook:

In [1]:
import jaydebeapi
from ibmdbpy import IdaDataBase
from ibmdbpy import IdaDataFrame

In [2]:
import pixiedust

Pixiedust database opened successfully

In [3]:
# connection jar for DB2 Warehouse on Cloud -- you may have to restart the kernel and re-run cells.   If you do, a warning will appear.
# no longer needed -- comment out for now
#pixiedust.installPackage("file:///usr/local/src/data-connectors-1.4.1/db2jcc4-10.5.0.6.jar")

<a id="Insert-the-database-connection-credentials"></a>
## Insert the database connection credentials

Click on the cell below, then on the notebook toolbar, click the box of 1's and 0's, find your database connection and click the __Insert to code__ link under the connection name to have a `credentials_1` dictionary added to the notebook.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/connections-button.png" >

__Note__: When this dictionary is inserted, it might have a different name than `credentials_1`.  If so change the dictionary name to `credentials_1` so that the rest of the notebook will work.

Connecting to DB2 Warehouse requires the following information which are provided by the credentials dictionary inserted:
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User password

The information `credentials_1` will be used to build a connection string in a subsequent step.

In [4]:
# The code was removed by DSX for sharing.

<a id="Create-the-database-connection"></a>
## Create the database connection

The following code snippet creates a connection string `connection_string`
and uses the `connection_string` to create a database connection object:

In [5]:
connection_string='DASHDB;Database={db};Hostname={hostname};Port={port};PROTOCOL=TCPIP;UID={username};PWD={password}'.format(**credentials_1)
idadb = IdaDataBase(dsn=connection_string)

<a id="Use-dataframe-to-read-and-manipulate-tables"></a>
## Use a dataframe to read and manipulate tables

You can now use the connection object `idadb` to query the database:

In [7]:
df = idadb.show_tables(show_all = True)
df.head(10)

  TABSCHEMA                   TABNAME     OWNER TYPE
0  DASH5716  FEMALE_HUMAN_TRAFFICKING  DASH5716    T
1   GOSALES                    BRANCH  DB2INST1    T
2   GOSALES           CONVERSION_RATE  DB2INST1    T
3   GOSALES                   COUNTRY  DB2INST1    T
4   GOSALES           CURRENCY_LOOKUP  DB2INST1    T
5   GOSALES           EURO_CONVERSION  DB2INST1    T
6   GOSALES          INVENTORY_LEVELS  DB2INST1    T
7   GOSALES             ORDER_DETAILS  DB2INST1    T
8   GOSALES              ORDER_HEADER  DB2INST1    T
9   GOSALES              ORDER_METHOD  DB2INST1    T

In [8]:
idadb.exists_table_or_view('GOSALESDW.EMP_EXPENSE_FACT')

True

Using our previously opened IdaDataBase instance named ‘idadb’, we can open one or several IdaDataFrame objects. They behave like pointers to remote tables.

Let us open the *EMP_EXPENSE_FACT* data set, assuming it is stored in the database under the name ‘GOSALESDW.EMP_EXPENSE_FACT’. The following cell assigns the dataset to a IdaDataFrame.   IdaDataFrame copies the Pandas interface for DataFrame objects to ensure intuitive interaction for end-users.

The [Pandas data analysis library](http://pandas.pydata.org/) provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas allows easy processing and manipulation of tabular data, so it is a perfect fit for data extracted from relational databases.

In [9]:
idadf = IdaDataFrame(idadb, 'GOSALESDW.EMP_EXPENSE_FACT')

### Automatic creation of dataframes for tables<br>
<div class="panel-group" id="accordion-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-1" href="#collapse1-1">Optional Advanced:</a></h4>
    </div>
    <div id="collapse1-1" class="panel-collapse collapse">
      <div class="panel-body">
Try adding the IdaDataFrame for the table in question from the Connections view -- do all the following commands still work?<br><br>
To add the dataframe, select the "Find and Add Data" icon (the one with 0 and 1s), select Connections, then "Insert to code" for the dataframe.    You will have to select the schema and table to use.

      </div>
    </div>
  </div>
</div>

In [10]:
# The code was removed by DSX for sharing.

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,363,100,NA,30,DECISION_TREE,Joyce Valerie Jones,F,1990-11-25,Ghana,GH,...,US,SAT,San Antonio,US-TX,FI,HEL,Helsinki,FI-ES,13363a0f-1a5e-4f68-9e53-a9d52845f33b,26
1,364,30,NA,30,DECISION_TREE,Veronica Breanna French,F,2001-05-26,Ghana,GH,...,US,RDU,Raleigh/Durham,US-NC,RU,KJA,Krasnoyarsk,RU-KYA,8c5fb696-09bf-4071-810b-1eef79bcd19f,15
2,365,10,NA,30,DECISION_TREE,Darlene Kendra Jackson,F,1978-09-01,Brazil,BR,...,US,BLV,Belleville,US-IL,IE,ORK,Cork,IE-C,b0def062-af37-441d-b611-580befa71cc6,38
3,366,30,NA,30,DECISION_TREE,Lisa Melissa Russell,F,1990-04-05,Brazil,BR,...,US,LCK,Columbus,US-OH,RU,AER,Sochi,RU-KDA,96d9f810-42ec-4851-bef8-8919661cb960,26
4,367,100,NA,100,DECISION_TREE,Caitlin Moore,F,1973-09-08,Ghana,GH,...,US,DLF,Del Rio,US-TX,CZ,PRG,Prague,CZ-PR,93adb238-ba71-4525-95fe-b111e41d57b4,43

In [ ]:
idadf.dtypes

You can very easily explore the data in the IdaDataFrame by using built in functions.

Use IdaDataFrame.head to get the first n records of your data set (default 5):

In [11]:
idadf.head()

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,363,100,NA,30,DECISION_TREE,Joyce Valerie Jones,F,1990-11-25,Ghana,GH,...,US,SAT,San Antonio,US-TX,FI,HEL,Helsinki,FI-ES,13363a0f-1a5e-4f68-9e53-a9d52845f33b,26
1,364,30,NA,30,DECISION_TREE,Veronica Breanna French,F,2001-05-26,Ghana,GH,...,US,RDU,Raleigh/Durham,US-NC,RU,KJA,Krasnoyarsk,RU-KYA,8c5fb696-09bf-4071-810b-1eef79bcd19f,15
2,365,10,NA,30,DECISION_TREE,Darlene Kendra Jackson,F,1978-09-01,Brazil,BR,...,US,BLV,Belleville,US-IL,IE,ORK,Cork,IE-C,b0def062-af37-441d-b611-580befa71cc6,38
3,366,30,NA,30,DECISION_TREE,Lisa Melissa Russell,F,1990-04-05,Brazil,BR,...,US,LCK,Columbus,US-OH,RU,AER,Sochi,RU-KDA,96d9f810-42ec-4851-bef8-8919661cb960,26
4,367,100,NA,100,DECISION_TREE,Caitlin Moore,F,1973-09-08,Ghana,GH,...,US,DLF,Del Rio,US-TX,CZ,PRG,Prague,CZ-PR,93adb238-ba71-4525-95fe-b111e41d57b4,43

Use IdaDataFrame.tail to get the last n records of your data set (default 5) -- try running this multiple times:

In [14]:
idadf.tail(10)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
1075,353,10,NA,30,DECISION_TREE,Rebecca Good,F,1974-03-02,Brazil,BR,...,US,STL,St Louis,US-MO,ZA,JNB,Johannesburg,ZA-GT,83444492-04a2-4a57-9a92-8793561207f3,43
1076,354,10,NA,30,DECISION_TREE,Jaccie Smith,F,2001-01-23,Ghana,GH,...,US,MOB,Mobile,US-AL,KW,KWI,Kuwait City,KW-FA,5c93ef2c-a887-45ce-b7b7-bb9cc33c2c20,16
1077,355,100,NA,30,DECISION_TREE,Danny Peterson,F,1978-08-11,Ghana,GH,...,US,DSM,Des Moines,US-IA,BZ,BZE,Belize City,BZ-BZ,4c656f2f-ac98-4877-8e48-216d35ea9bca,38
1078,356,100,NA,30,DECISION_TREE,Alyssa Amanda Miller,F,1993-07-23,Ghana,GH,...,US,ADW,Camp Springs,US-MD,HU,BUD,Budapest,HU-PE,86314710-ad73-450b-96dc-0e917d44e987,23
1079,357,100,NA,30,DECISION_TREE,Linda Scott,F,1988-09-26,Ghana,GH,...,US,SRQ,Sarasota/Bradenton,US-FL,PE,CUZ,Cusco,PE-CUS,86b0b0b7-0ffa-4248-9ed0-be6fd8771379,28
1080,358,100,NA,30,DECISION_TREE,Alyssa Thomas,F,1970-01-23,Ghana,GH,...,US,DSM,Des Moines,US-IA,ID,CGK,Jakarta,ID-BT,9c36dea4-fefe-4fba-8ca5-93d27920b9bc,47
1081,359,100,NA,30,DECISION_TREE,Cathy Lori Griffin,F,1982-03-26,Ghana,GH,...,US,MLU,Monroe,US-LA,MY,KUL,Kuala Lumpur,MY-14,33b14a52-f238-449d-b56e-c4ce5a32cdc7,34
1082,360,30,NA,30,DECISION_TREE,Alisha Cheryl Watts,F,1997-10-11,Ghana,GH,...,US,PHL,Philadelphia,US-PA,OM,MCT,Muscat,OM-MA,a7785f42-9be3-4c92-a8a0-55cb960c092e,19
1083,361,100,NA,30,DECISION_TREE,Ashley Rhodes,F,1982-06-27,Ghana,GH,...,US,SEA,Seattle,US-WA,NL,MST,Maastricht,NL-LI,3dbeb8ec-68e5-4db7-ba97-ed637d5a03d2,34
1084,362,30,NA,30,DECISION_TREE,Danielle Ash Butler,F,1999-06-14,Ghana,GH,...,US,CRP,Corpus Christi,US-TX,SE,GOT,Gothenburg,SE-Q,d8ba6b49-bca2-4f15-81b9-f00f27fb987b,17

__Note__: Because DB2 Warehouse operates on a distributed system, the order of rows using IdaDataFrame.head and IdaDataFrame.tail is not guaranteed unless the table is sorted (using an ‘ORDER BY’ clause) or a column is declared as index for the IdaDataFrame (parameter/attribute indexer).

IdaDataFrame also implements most attributes that are available in a pandas DataFrame, here is an example of getting the _shape_ of the data frame (rows, columns):

In [15]:
idadf.shape

(1085, 28)

In [16]:
idadf.columns

Index(['INTERNAL_ID', 'VETTING_LEVEL', 'DESCRIPTION',
       'VETTING_LEVEL_PREDICTION', 'ALGORITHM_NAME', 'NAME', 'GENDER',
       'BIRTH_DATE', 'BIRTH_COUNTRY', 'BIRTH_COUNTRY_CODE', 'OCCUPATION',
       'ADDRESS', 'SSN', 'PASSPORT_NUMBER', 'PASSPORT_COUNTRY',
       'PASSPORT_COUNTRY_CODE', 'COUNTRIES_VISITED', 'COUNTRIES_VISITED_COUNT',
       'ARRIVAL_AIRPORT_COUNTRY_CODE', 'ARRIVAL_AIRPORT_IATA',
       'ARRIVAL_AIRPORT_MUNICIPALITY', 'ARRIVAL_AIRPORT_REGION',
       'DEPARTURE_AIRPORT_COUNTRY_CODE', 'DEPARTURE_AIRPORT_IATA',
       'DEPARTURE_AIRPORT_MUNICIPALITY', 'DEPARTURE_AIRPORT_REGION', 'UUID',
       'AGE'],
      dtype='object')

Several standard statistics functions from the pandas interface are also available for IdaDataFrame.  You can use the __TAB__ key after the `.` to see the methods and attributes available in an object in a pulldown menu. 

For example, let us calculate various summary statistics for the data set by using the `describe()` method for the IdaDataFrame instance:

In [18]:
idadf.describe()

,INTERNAL_ID,VETTING_LEVEL,VETTING_LEVEL_PREDICTION,PASSPORT_NUMBER,COUNTRIES_VISITED_COUNT,AGE
count,1085.000000,1085.000000,1085.000000,1.085000e+03,1085.000000,1085.000000
mean,543.000000,87.373272,51.649770,4.872943e+08,4.391705,30.811060
std,313.356825,28.711792,38.319724,2.925367e+08,2.837630,9.343993
min,1.000000,10.000000,10.000000,1.773050e+05,1.000000,15.000000
25%,272.000000,100.000000,20.000000,2.325441e+08,2.000000,23.000000
50%,543.000000,100.000000,30.000000,4.867979e+08,4.000000,31.000000
75%,814.000000,100.000000,100.000000,7.451034e+08,6.000000,39.000000
max,1085.000000,100.000000,100.000000,9.980199e+08,12.000000,47.000000

__Note__: It is possible to subset the rows of an IdaDataFrame by accessing the IdaDataFrame with a slice object. You can also use the IdaDataFrame.loc attribute, which contains an ibmdbpy.Loc object. However, the row selection might be inaccurate if the current IdaDataFrame is not sorted or does not contain an indexer. This is due to the fact that DB2 Warehouse stores the data across several nodes if available. Moreover, because DB2 Warehouse is by default a column oriented database, row numbers are undefined:

In [22]:
idadf_new = idadf[11:19] # Select the first 10 rows
idadf_new.head(10)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
11,374,100,NA,100,DECISION_TREE,Misty Joye Cook,F,1992-08-13,Ghana,GH,...,US,CLT,Charlotte,US-NC,VN,SGN,Ho Chi Minh City,VN-23,51cb6d90-9a8b-4b3c-8d0a-bf53da427a0b,24
12,375,100,NA,100,DECISION_TREE,Jessey Ayala,F,1999-08-25,Ghana,GH,...,US,ABQ,Albuquerque,US-NM,LY,TIP,Tripoli,LY-TB,ecc55978-1a51-4c47-b267-7635c59f2272,17
13,376,100,NA,100,DECISION_TREE,Kelli Jilly Parker,F,1995-12-17,Ghana,GH,...,US,AUS,Austin,US-TX,KE,MBA,Mombasa,KE-300,3699ddcc-8ed3-405a-8019-e71871e46293,21
14,377,100,NA,100,DECISION_TREE,Sarah Morse,F,1990-06-20,Ghana,GH,...,US,BNA,Nashville,US-TN,KY,GCM,Georgetown,KY-U-A,76febbc7-3d2a-472d-9f06-a0acfb922348,26
15,378,100,NA,100,DECISION_TREE,Brittany Parsons,F,2001-07-11,Ghana,GH,...,US,AFW,Fort Worth,US-TX,CY,PFO,Paphos,CY-06,951114a7-bafc-4bbd-be22-2de885139326,15
16,379,100,NA,30,DECISION_TREE,Brenda Oconnell,F,1994-12-06,Ghana,GH,...,US,DAL,Dallas,US-TX,OM,JNJ,Duqm,OM-WU,9e8567cb-e53a-495a-bf82-f8c333a9351c,22
17,380,30,NA,30,DECISION_TREE,Tracey Hudson,F,2001-03-16,Ghana,GH,...,US,BWI,Baltimore,US-MD,RU,UFA,Ufa,RU-BA,a82f9d33-9e2e-4dc6-b61c-ba4f47e6e856,15
18,381,100,NA,30,DECISION_TREE,Barb Renee Barton,F,1981-05-22,Ghana,GH,...,US,CBM,Columbus,US-MS,OM,MCT,Muscat,OM-MA,44bf7952-a404-4670-88d8-2f010c59c84f,35

<a id="Use-SQL"></a>
## Use SQL
We can also use SQL to get the top 10.

In [23]:
top_10_df = idadb.ida_query('SELECT * FROM GOSALESDW.EMP_EXPENSE_FACT LIMIT 10')
top_10_df

,day_key,organization_key,position_key,employee_key,expense_type_key,account_key,expense_unit_quantity,expense_total
0,20100731,11167,43636,4191,2137,8050,7.50,500.00
1,20100831,11167,43636,4191,2104,8050,7.50,229.17
2,20100831,11167,43636,4191,2120,8052,0.08,403.33
3,20100831,11167,43636,4191,2122,8054,0.11,554.58
4,20100831,11167,43636,4191,2124,8056,0.03,151.25
5,20100831,11167,43636,4191,2131,8049,157.50,4812.50
6,20100930,11167,43636,4191,2104,8050,7.50,229.17
7,20100930,11167,43636,4191,2120,8052,0.08,403.33
8,20100930,11167,43636,4191,2122,8054,0.11,554.58
9,20100930,11167,43636,4191,2124,8056,0.03,151.25

Find the top 10 employees (by id) by the number of transactions in the `GOSALESDW.EMP_EXPENSE_FACT` table.

In [24]:
idadb.ida_query('SELECT EMPLOYEE_KEY, COUNT(*) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')

   employee_key  count
0          4112  263.0
1          4134  263.0
2          4135  261.0
3          4019  260.0
4          4368  260.0
5          4053  260.0
6          4016  260.0
7          4480  259.0
8          4129  259.0
9          4157  258.0

<a id="Explore-the-trafficking-data"></a>
## Explore the trafficking data
__Time to apply what you've learned!__

Complete the tasks that are commented in the code blocks.  If you get stuck, check out the hints.  If you're still stuck, read the solution.  If you have any questions, feel free to ask.

### Create an ibmdbpy dataframe called `trafficking_df` and set it to the name of the trafficking table in your DB2 Warehouse <br>

<div class="panel-group" id="accordion-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-1">Hint 1</a></h4>
    </div>
    <div id="collapse2-1" class="panel-collapse collapse">
      <div class="panel-body">     
Use the Connections table to insert the dataframe.   Be sure to name the result trafficking_df!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapse2-2">Solution</a></h4>
    </div>
    <div id="collapse2-2" class="panel-collapse collapse">
      <div class="panel-body">     
Select the data cell you wish the code to be added to<br>
Select the Find and Add Data icon<br>
Select Connections<br>
Select Insert to Code for the connection you wish to use (there should only be one)<br>
Select Insert ibmdbpy IdaDataframe<br>
Select the Schema you used to load the data (this schema should start with DASH)<br>
Select the Table (there should only be one)<br>
Select Insert Code<br>
Rename the result to trafficking_df
      </div>
    </div>
  </div>
</div>

In [30]:
# insert dataframe here
trafficking_df = IdaDataFrame(idadb_31dde123ea4c4f2080a8f11e23626d3a, 'DASH5716.FEMALE_HUMAN_TRAFFICKING').as_dataframe()
trafficking_df.head()

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,363,100,NA,30,DECISION_TREE,Joyce Valerie Jones,F,1990-11-25,Ghana,GH,...,US,SAT,San Antonio,US-TX,FI,HEL,Helsinki,FI-ES,13363a0f-1a5e-4f68-9e53-a9d52845f33b,26
1,364,30,NA,30,DECISION_TREE,Veronica Breanna French,F,2001-05-26,Ghana,GH,...,US,RDU,Raleigh/Durham,US-NC,RU,KJA,Krasnoyarsk,RU-KYA,8c5fb696-09bf-4071-810b-1eef79bcd19f,15
2,365,10,NA,30,DECISION_TREE,Darlene Kendra Jackson,F,1978-09-01,Brazil,BR,...,US,BLV,Belleville,US-IL,IE,ORK,Cork,IE-C,b0def062-af37-441d-b611-580befa71cc6,38
3,366,30,NA,30,DECISION_TREE,Lisa Melissa Russell,F,1990-04-05,Brazil,BR,...,US,LCK,Columbus,US-OH,RU,AER,Sochi,RU-KDA,96d9f810-42ec-4851-bef8-8919661cb960,26
4,367,100,NA,100,DECISION_TREE,Caitlin Moore,F,1973-09-08,Ghana,GH,...,US,DLF,Del Rio,US-TX,CZ,PRG,Prague,CZ-PR,93adb238-ba71-4525-95fe-b111e41d57b4,43

In [31]:
idadb.exists_table_or_view(trafficking_df.name)

# The output of this block should be:
# True

True

In [32]:
print(trafficking_df.shape)
trafficking_df.dtypes

(1085, 28)

INTERNAL_ID                        int64
VETTING_LEVEL                      int64
DESCRIPTION                       object
VETTING_LEVEL_PREDICTION           int64
ALGORITHM_NAME                    object
NAME                              object
GENDER                            object
BIRTH_DATE                        object
BIRTH_COUNTRY                     object
BIRTH_COUNTRY_CODE                object
OCCUPATION                        object
ADDRESS                           object
SSN                               object
PASSPORT_NUMBER                    int64
PASSPORT_COUNTRY                  object
PASSPORT_COUNTRY_CODE             object
COUNTRIES_VISITED                 object
COUNTRIES_VISITED_COUNT            int64
ARRIVAL_AIRPORT_COUNTRY_CODE      object
ARRIVAL_AIRPORT_IATA              object
ARRIVAL_AIRPORT_MUNICIPALITY      object
ARRIVAL_AIRPORT_REGION            object
DEPARTURE_AIRPORT_COUNTRY_CODE    object
DEPARTURE_AIRPORT_IATA            object
DEPARTURE_AIRPORT_MUNICIPALITY    object
DEPARTURE_AIRPORT_REGION          object
UUID                              object
AGE                                int64
dtype: object

### Show the top 5 records from the table using a method of the IdaDataFrame <br>
<div class="panel-group" id="accordion-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse1-12">Hint 1</a></h4>
    </div>
    <div id="collapse1-12" class="panel-collapse collapse">
      <div class="panel-body">
      
Heads or tails?
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-12" href="#collapse2-12">Solution</a></h4>
    </div>
    <div id="collapse2-12" class="panel-collapse collapse">
      <div class="panel-body">
      Heads!<br>
<pre>
trafficking_df.head()
</pre> 
      </div>
    </div>
  </div>
</div>

In [33]:
# enter answer here
trafficking_df.head(5)

,INTERNAL_ID,VETTING_LEVEL,DESCRIPTION,VETTING_LEVEL_PREDICTION,ALGORITHM_NAME,NAME,GENDER,BIRTH_DATE,BIRTH_COUNTRY,BIRTH_COUNTRY_CODE,...,ARRIVAL_AIRPORT_COUNTRY_CODE,ARRIVAL_AIRPORT_IATA,ARRIVAL_AIRPORT_MUNICIPALITY,ARRIVAL_AIRPORT_REGION,DEPARTURE_AIRPORT_COUNTRY_CODE,DEPARTURE_AIRPORT_IATA,DEPARTURE_AIRPORT_MUNICIPALITY,DEPARTURE_AIRPORT_REGION,UUID,AGE
0,363,100,NA,30,DECISION_TREE,Joyce Valerie Jones,F,1990-11-25,Ghana,GH,...,US,SAT,San Antonio,US-TX,FI,HEL,Helsinki,FI-ES,13363a0f-1a5e-4f68-9e53-a9d52845f33b,26
1,364,30,NA,30,DECISION_TREE,Veronica Breanna French,F,2001-05-26,Ghana,GH,...,US,RDU,Raleigh/Durham,US-NC,RU,KJA,Krasnoyarsk,RU-KYA,8c5fb696-09bf-4071-810b-1eef79bcd19f,15
2,365,10,NA,30,DECISION_TREE,Darlene Kendra Jackson,F,1978-09-01,Brazil,BR,...,US,BLV,Belleville,US-IL,IE,ORK,Cork,IE-C,b0def062-af37-441d-b611-580befa71cc6,38
3,366,30,NA,30,DECISION_TREE,Lisa Melissa Russell,F,1990-04-05,Brazil,BR,...,US,LCK,Columbus,US-OH,RU,AER,Sochi,RU-KDA,96d9f810-42ec-4851-bef8-8919661cb960,26
4,367,100,NA,100,DECISION_TREE,Caitlin Moore,F,1973-09-08,Ghana,GH,...,US,DLF,Del Rio,US-TX,CZ,PRG,Prague,CZ-PR,93adb238-ba71-4525-95fe-b111e41d57b4,43

### Query the trafficking table so that we get the vetting_level and the number of times that vetting_level appears in the trafficking table, ordered by the vetting_level<br>
<div class="panel-group" id="accordion-13">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse1-13">Hint 1</a></h4>
    </div>
    <div id="collapse1-13" class="panel-collapse collapse">
      <div class="panel-body">
      
It is similar to:

<pre>
<resource>.ida_query('SELECT EMPLOYEE_KEY, COUNT(&#42;) AS COUNT FROM GOSALESDW.EMP_EXPENSE_FACT GROUP BY EMPLOYEE_KEY ORDER BY COUNT DESC LIMIT 10')
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse2-13">Hint 2</a></h4>
    </div>
    <div id="collapse2-13" class="panel-collapse collapse">
      <div class="panel-body">
      
The SQL query is:

<pre>
'SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_table + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL'
</pre>
      
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse3-13">Solution 1</a></h4>
    </div>
    <div id="collapse3-13" class="panel-collapse collapse">
      <div class="panel-body">
      
<pre>
idadb.ida_query('SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')
</pre>

      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-13" href="#collapse3-14">Solution 2</a></h4>
    </div>
    <div id="collapse3-14" class="panel-collapse collapse">
      <div class="panel-body">
      
<pre>
trafficking_df.ida_query('SELECT VETTING_LEVEL, COUNT(&#42;) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')
</pre>

      </div>
    </div>
  </div>
</div>

In [39]:
# Enter query here
idadb.ida_query('SELECT VETTING_LEVEL, COUNT(*) AS COUNT FROM ' + trafficking_df.name + ' GROUP BY VETTING_LEVEL ORDER BY VETTING_LEVEL')

   vetting_level  count
0             10   42.0
1             20   40.0
2             30   96.0
3            100  907.0

<a id="Close-the-database-connection"></a>
## Close the database connection

To ensure expected behaviors, IdaDataBase instances need to be closed.

__Note__: Closing the *IdaDataBase* is equivalent to closing the connection: once the connection is closed, it is no longer possible to use the *IdaDataBase* instance and any *IdaDataFrame* instances that were opened on this connection.

In [40]:
idadb.close()

Connection closed.

<a id="Share"></a>
## Share the notebook
You can share a notebook by selecting the Share icon.<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/share-button.png" ><br>
This displays a Share Notebook popup which gives the user a link which can can be sent to other users.   Anyone with the link will see the most recent version of the notebook.   The user can determine what level of notebook information will be shared.
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Share-Window.PNG" ><br>

<a id="GitHub"></a>
## Publish the notebook to gist/GitHub

Select the Github/Gist integration icon from the command bar (it looks like an open box with an arrow pointing up).<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/github-button.png" ><br>

If you wish to publish to a gist, nothing more is needed.   However, if you want to publish to github, you will need a security token.

Select Publish on GitHub<br>
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/NoGitHub.PNG" ><br>
You will get a popup stating that you need to set a token in your account settings.   This can be reached by selecting the account settings link in the popup or by selecting your personal icon (upper right hand corner) and selecting settings.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Profile.PNG" ><br>
In the Profile settings page select Integrations and paste your github token there.   

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Integrations.PNG" ><br>
I have provided one for you should you wish to try this which uses the account at http://github.com/dsxspare3/DSX-Demo

I broke it into two pieces because otherwise github will delete it when publishing to github because it is a valid token.   Paste them together when putting in the github token in DSX.

Part 1: 8e8ff3b15d92438fc4  Part 2: a2a0aad611310d2562d8b5

Finally, you need to add the URL for the GitHub in the Settings section of your project.

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/ProjectSettings.PNG" ><br>

<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/GitHubURL.PNG" ><br>

You should now be able to publish to GitHub for this project.   When publishing, you are asked for the path to save.   Since all users will be using the same GitHub I suggest publishing to a folder with your username.

<a id="Help"></a>
## Get Help

Select the icon in the lower right corner 
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Help-Icon.PNG"/>
to display a help window connecting to IBM DSX Support.
<img alt="IBM Bluemix.Get started now" src="https://raw.githubusercontent.com/jpatter/DSX/master/Lab-1/images/Help-Window.PNG"/>

<a id="Summary"></a>
## Summary

This notebook demonstrated how to establish a JDBC connection to a DB2 Warehouse (or DB2) database from Python, work with data frames and explore the data using SQL and data frame object attributes and methods.

## Take it farther
### Free courses on <a href="https://cognitiveclass.ai/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Cognitive Class.ai</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>